$color-black: #0e1111;
$color-white: #f8f8ff;

.cell {
  display: inline-block;
  border: 1px solid $color-black;
  border-left: none;
  border-top: none;
  height: 68px;
  width: 88px;
  padding: 2px 0;
  text-align: center;
  box-sizing: border-box;

  &:nth-child(3n + 1) {
    border-left: 1px solid $color-black;
  }

  &:nth-child(-n + 3) {
    border-top: 1px solid $color-black;
  }
}

.inventory {
  display: flex;
  flex-wrap: wrap;
  width: 88 * 3px;
}

@media (max-width: 900px) {
  .inventory {
    transform: scale(0.6);
  }
}
